body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.navbar-bg{
    background-color: white !important;
}
/* hoover effect*/
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
    color: #555;
  }
  nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #91640F;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  /*hoover effect*/
  .image-resize-banner{
      size: 50%;
  }
  
.button-style{
    background-color: black;
    height: 40px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 10px;
  }
  .resize-para{
    border: none;
    text-align: justify;
    width: auto;
    margin-right: 250px;
    color: gray;
  }
  .icon-yellow{
    background-color: yellow !important;
    height: 10px !important;
    width: 50px !important;
    border: none !important;
    border-radius: 5px !important;
  }
  .smartphone-section-style{
    margin-top: 150px;
  }
  .card-image-style{
    height: 45%;
    width: 60%;
    margin-top: 50px;
    margin-left: 80px;

  }
  .card-body-style{
    text-align: center;
  }
  .card-title-style{
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
  }
  .card-text-style{
    color: gray;
    margin-top: 10px;
    font-size: smaller;
  }
  .card-style{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
    margin-top: 10px;
    margin-right: 5px;
  }
 .catagories-style{
   margin-top: 150px;
 }
 .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.catagories-image-style{
  height: 50%;
  width: 50%;
  margin-left: 50px;
  margin-top: 20px;
}
.catagories-text-style{
  text-align: center;
}
.footer{
  text-align: center;
  margin-top: 150px;
  color: gray;
  font-size: smaller;
}